

.col-md-8 {
    background-image: url('../img/prom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100vh;
}

.content-section {
    border: 1px solid #ddd;
    border-radius: 20px;
    display: block;
    flex-flow: column;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
    width: 100%;
}

.form-group {
    display: block;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.form-control-label, #encabezado {
    color: white;
}

#anuncio {
    position: absolute;
}
